<nav [ngClass]="isDarkMode?'bg-gray-900 text-white':'bg-white text-black'" class="px-2 py-3 md:py-2 transition-all duration-300">
    <div class="flex justify-between items-center">
        <div>
            <a routerLink="/" class="flex items-center gap-1">
                <img src="assets/images/Logo.png" alt="" class="h-20 w-auto object-contain">
                <span class="text-2xl sm:text-3xl font-semibold text-primary text-[#6153CD]">Logo</span>
            </a>
        </div>
        <div class="md:hidden flex justify-end items-center gap-6 mb-4">
            <button class="bg-[#6153CD] text-white hover:bg-[#6153CD]/80 duration-300 rounded-lg py-2 px-4" (click)="login()">{{role ? 'Logout':'Get in Touch'}}</button>
            <button (click)="toggleTheme()">
                <i *ngIf="!isDarkMode" class="fa-solid fa-moon text-[#6153CD]"></i>
                <i *ngIf="isDarkMode" class="fa-regular fa-sun text-[#6153CD]"></i>
            </button>
            <button (click)="toggleMenu()" class="text-[#6153CD]"><i class="fa-solid fa-bars"></i></button>
           </div>
        <div class="hidden md:block">
            <ul class="flex items-center gap-4 px-2">
                <li class="cursor-pointer py-4"><a routerLink="/about" class="text-lg font-medium hover:text-[#6153CD] hover:border-b-2 hover:border-primary transition-all duration-300">About</a></li>
                <li class="cursor-pointer py-4"><a routerLink="/services" class="text-lg font-medium hover:text-[#6153CD] hover:border-b-2 hover:border-primary transition-all duration-300">Services</a></li>
                <li class="cursor-pointer py-4"><a routerLink="/contact" class="text-lg font-medium hover:text-[#6153CD] hover:border-b-2 hover:border-primary transition-all duration-300">Contact</a></li>
                <li *ngIf="userRoleName ==='seller'" class="cursor-pointer py4"><a routerLink="/seller/seller-dashboard" class="text-lg font-medium hover:text-[#6153CD] hover:border-b-2 hover:border-primary transition-all duration-300">Seller Dashboard</a></li>
                <li *ngIf="userRoleName ==='buyer'" class="cursor-pointer py-4"><a routerLink="/buyer/buyer-dashboard" class="text-lg font-medium hover:text-[#6153CD] hover:border-b-2 hover:border-primary transition-all duration-300">Buyer Dashboard</a></li>
                <li *ngIf="userRoleName ==='buyer'" class="cursor-pointer py-4"> <a routerLink="/buyer/buyer-purchase"  class="text-lg font-medium hover:text-[#6153CD] hover:border-b-2 transition-all duration-300">My Purchases</a></li>
                <li class="cursor-pointer py-4 text-lg font-medium">{{name}}</li>
                <button class="bg-[#6153CD] text-white hover:bg-[#6153CD]/80 duration-300 rounded-lg py-2 px-4" (click)="login()">{{role ? 'Logout':'Get in Touch'}}</button>
                <button (click)="toggleTheme()">
                    <i *ngIf="!isDarkMode" class="fa-solid fa-moon text-[#6153CD]"></i>
                    <i *ngIf="isDarkMode" class="fa-regular fa-sun text-[#6153CD]"></i>
                </button>
            </ul> 
        </div>
        <!-- Mobile View -->
         <div *ngIf="isMenuOpen" class="md:hidden fixed bottom-0 left-0 top-0 w-[75%] h-full flex flex-col p-4 transition-all duration-300" [ngClass]="isDarkMode? 'bg-gray-900 text-white':'bg-[#6153CD] text-black'">
                <ul *ngIf="isMenuOpen" class="space-y-4 text-xl">
                    <li class="cursor-pointer py-4"><a routerLink="/about" class="text-lg font-medium hover:text-[#6153CD] hover:border-b-2 hover:border-primary transition-all duration-300">About</a></li>
                <li class="cursor-pointer py-4"><a routerLink="/services" class="text-lg font-medium hover:text-[#6153CD] hover:border-b-2 hover:border-primary transition-all duration-300">Services</a></li>
                <li class="cursor-pointer py-4"><a routerLink="/contact" class="text-lg font-medium hover:text-[#6153CD] hover:border-b-2 hover:border-primary transition-all duration-300">Contact</a></li>
                </ul>
         </div>
    </div>
</nav>

<app-login></app-login>

