<div [ngClass]="isDarkMode?'bg-gray-900 text-white':'bg-white text-black'">

    <section class="w-full px-6 md:px-12 lg:px-20 py-10 md:py-16" data-aos="fade-up">
        <div class="fade-in opacity-0 translate-y-10 scale-95 transition-all"></div>
        <div class="max-w-7xl mx-auto flex flex-col md:flex-row items-center gap-10">
            <div class="w-full md:w/12 text-center md:text-left">
                <h1 class="text-3xl md:text-5xl font-bold leading-tight text-gray-900">
                    Modern Living Starts Here <br>
                    the <span class="text-[#6153CD]">Dream Home</span>
                </h1>
                <p class="mt-4 text-gray-500 text-sm md:text-base leading-relaxed">
                    Find your dream home with premium real estate flats.
    Modern living spaces designed for comfort and convenience.
                </p>
                <button class="bg-[#6153CD] py-2 px-4 text-white hover:bg-[#6153CD]/80 duration-300 rounded-lg" (click)="showMore = !showMore"> {{ showMore ? 'View Less' : 'View More' }}</button>
                <p *ngIf="showMore" class="mt-4 text-gray-500 text-sm md:text-base leading-relaxed">
                    Step into a world where your dream home isn't just found—it's crafted to perfection. Discover premium real estate flats that redefine luxury, blending breathtaking design with unmatched comfort. Every corner speaks elegance, every detail is thoughtfully designed, and every moment feels like a step into a life you truly deserve. Experience modern living elevated to an extraordinary level, where convenience meets sophistication in the most seamless way.
                  </p>
            </div>
            <div class="w-full md:w-1/2 relative flex justify-center">
                <div class="relative">
                    <img src="assets/images/Client_image.png" alt="" class="w-full h-auto object-cover rounded-3xl transition-all duration-300 hover:scale-125"> 
                    <div class="absolute -bottom-6 right-6 bg-white rounded-xl shadow-lg px-4 py-2 flex items-center gap-2">
                        <span class="text-yellow-500 text-lg"><i class="fa-solid fa-star"></i></span>
                        <div class="text-sm">
                            <p class="text-yellow-500">Projects</p>
                            <p class="font-bold text-gray-900">6000+done</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
      <!-- Blog -->
      <section class="w-full px-6 md:px-12 lg:px-20 py-10 md:py-16" data-aos="fade-up">
        <h2 class="border-l-4 border-[#6153CD] pl-3 text-xl font-semibold text-[#6153CD]">Our Blogs</h2>
      <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
        <div class="max-w-sm" data-aos="zoom-in">
            <div class="relative">
                <img src="assets/images/Mapimage.png" alt="map" class="w-full h-64 object-cover transition-all duration-300 hover:scale-125">
            </div>
            <div class="relative -mt-16 ml-8 shadow-lg bg-white p-5 h-64 flex flex-col">
                <h2 class="text-xl font-semibold mb-2">Prime Locations Across Delhi</h2>
                <p class="text-gray-500 text-sm">We provide premium flats across prime locations in Delhi, ensuring easy access to schools, hospitals, markets, and public transport. Our properties are strategically located to offer excellent connectivity and a convenient lifestyle, making everyday living smooth and hassle-free.</p>
             
            </div>
        </div>
        <div class="max-w-sm" data-aos="zoom-in">
            <div class="relative">
                <img src="assets/images/buildingimage.jpg" alt="building" class="w-full h-64 object-cover transition-all duration-300 hover:scale-125">
            </div>
            <div class="relative -mt-16 ml-8 shadow-lg bg-white p-5 h-64 flex flex-col">
                <h2 class="text-xl font-semibold mb-2">Modern Amenities & Comfortable Living</h2>
                <p class="text-gray-600 text-sm">Our flats are designed to meet modern living standards, offering top-class amenities and facilities tailored to user requirements. From spacious layouts and quality construction to essential features like parking, security, and nearby conveniences, we ensure comfort and a better living experience.   </p>
            </div>
        </div>
        <div class="max-w-sm" data-aos="zoom-in">
            <div class="relative">
                <img src="assets/images/documentImage.png" alt="document" class="w-full h-64 object-cover transition-all duration-300 hover:scale-125">
            </div>
           
            <div class="relative -mt-16 ml-8 shadow-lg bg-white p-5 h-64 flex flex-col">
                <h2 class="text-xl font-semibold mb-2">Clear Legal Documentation & Transparency</h2>
                <p class="text-gray-600 text-sm">We prioritize complete transparency by providing properties with clear legal documentation and verified ownership. All flats are backed by proper approvals and paperwork, ensuring a safe, secure, and hassle-free buying process for our customers.</p>
            </div>
        </div>
      </div>
      </section>
    <!-- Services -->
  
    <section class="w-full px-6 md:px-12 lg-px-20 py-10 md:py-16">
        <h2 class="text-[#6153CD] text-xl font-bold text-center">The Best Ammenities We Have</h2>
        <p class="text-gray-500 text-center p-2">  Experience modern living with essential amenities designed for comfort, safety, and convenience.
        </p>
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6 p-6">
            <div data-aos="zoom-in">
                <p class="text-2xl mb-2">
                    <i class="fa-solid fa-elevator text-[#6153CD] transition duration-300 hover:scale-125 hover:text-blue-700"></i>
                </p>
                <h2 class="font-semibold text-lg">Lift Facility</h2>
                <p class="text-gray-500 text-sm">
                    High-speed and reliable lift facilities ensure smooth and easy movement across all floors for residents.
                </p>
            </div>
            <div data-aos="zoom-in">
                <p class="text-2xl mb-2"><i class="fa-solid fa-car text-[#6153CD] transition duration-300 hover:scale-125 hover:text-blue-700"></i></p>
                <h2 class="font-semibold text-lg">Parking</h2>
                <p class="text-gray-500 text-sm">Spacious and well-organized parking areas provide convenience and safety for your vehicles at all times.</p>
            </div>
            <div data-aos="zoom-in">
                <p class="text-2xl mb-2"> <i class="fa-solid fa-video text-[#6153CD] transition duration-300 hover:scale-125 hover:text-blue-700"></i></p>
                <h2 class="font-semibold text-lg">CCTV Surveillance</h2>
                <p class="text-gray-500 text-sm">24/7 CCTV monitoring ensures enhanced security and a safe living environment for all residents.</p>
            </div>

        </div>
    </section>
</div>
