      <div class="m-4">
      <app-filter [tableData]="boughtPropertyData" [columns]="tableColumns" (filteredData) = "properties =$event"> </app-filter>
      </div>
      <div class="w-full overflow-x-auto rounded-lg shadow px-4 my-4">
<table class="min-w-full border text-center" [ngClass]="isDarkMode?'bg-gray-800 text-white':'bg-white text-black'">
    <thead>
        <tr class="bg-gray-400">
            <th class="p-2">Sl No</th>
            <th class="p-2">Property Name</th>
            <th class="p-2">Property Address</th>
            <th class="p-2">Property Price</th>
            <th class="p-2">Added By</th>
            <th class="p-2">Added On</th>
            <th class="p-2">Bought Status</th>
        </tr>
    </thead>
    <ng-container *ngIf="boughtPropertyData.length>0;else NoProperty">
        <tbody>
            <tr *ngFor="let prop of boughtPropertyData; let i=index">
                <td class="p-2 border">{{i+1}}</td>
                <td class="p-2 border">{{prop.name}}</td>
                <td class="p-2 border">{{prop.address}}</td>
                <td class="p-2 border">{{prop.price}}</td>
                <td class="p-2 border">{{prop.addedBy}}</td>
                <td class="p-2 border">{{formatDate(prop.addedOn)}}</td>
                <td class="p-2 border">{{prop.propertyBoughtStatus}}</td>
               
            </tr>
        </tbody>
    </ng-container>
    <ng-template #NoProperty>
<tbody>
    <tr>
        <td colspan="5" class="text-center border p-4">
            No Property Added Yet.
        </td>
    </tr>
</tbody>
    </ng-template>
</table>
      </div>